name: build and test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  debug:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.405
    - name: Setup .NET 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.301
    - name: Clean
      run: dotnet clean --configuration Debug && dotnet nuget locals all --clear
      working-directory: Source
    - name: Install dependencies
      run: dotnet restore
      working-directory: Source
    - name: Build
      run: dotnet build --configuration Debug -p:IsCI=true --no-restore
      working-directory: Source
    - name: Test
      run: dotnet test --configuration Debug --no-build --verbosity normal
      working-directory: Source

  release:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.405
    - name: Setup .NET 5.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.301
    - name: Clean
      run: dotnet clean --configuration Release && dotnet nuget locals all --clear
      working-directory: Source
    - name: Install dependencies
      run: dotnet restore
      working-directory: Source
    - name: Build
      run: dotnet build --configuration Release -p:IsCI=true --no-restore
      working-directory: Source
    - name: Test
      run: dotnet test --configuration Release --no-build --verbosity normal
      working-directory: Source